header {
  padding: 22px 30px;
  display: flex;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.hero--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 33px 0 49px 0;
  gap: 32px;
  align-items: center;
}
.hero--img-container {
  display: flex;
  justify-content: center;
  padding: 33px 0 33 0;
}
.hero--text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 347px;
  align-items: flex-start;
}

.hero--title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}
.hero--text {
  width: 320px;
  color: #222;
  font-size: 16px;
  font-weight: 300;
}

.card-list {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
